[View in Colaboratory](https://colab.research.google.com/github/flamecopper/Learn-Python-Together/blob/master/Python%203%20Colab)

In [0]:
#import Libraries
import datetime
import pandas as pd
from pandas import read_csv

print("Libraries imported sucessfully")
print("Good Morning!")

In [0]:
import tensorflow as tf

In [0]:
a_number = 2
a_word = 'dog'
a_number = 'cat' #overidding

print(a_number) # Printing
type(a_number) # Data Type

In [0]:
#line comments
'''
block comments
'''

In [0]:
#mutable - order can be changed
pets = ['dogs','cats','fish']
pets1 =  ['dogs','cats','fish']
pets2 = [pets,pets1]
print(pets[0])
print(pets[1])
print(pets2)

In [0]:
#permanent assignment
pets.append('hedgehog')
pets

In [0]:
#permanent assignment
pets.remove('hedgehog')
pets

In [0]:
pets.reverse()
print(pets)

pets.sort()
print(pets)

In [3]:
penny = (60, 75, 'yellow')
print(type(penny))
penny

<class 'tuple'>

(60, 75, 'yellow')

In [2]:
store_one = {'bulldog','parrot','hamster','fish'}
store_two = {'fish','parrot','terrier','cat'}
print (store_one.intersection(store_two))
print (store_one.union(store_two))

{'fish', 'parrot'}
{'hamster', 'fish', 'bulldog', 'cat', 'terrier', 'parrot'}

In [0]:
#Flow control and condition
milk = 0
eggs = 0
store_has_eggs = True
#Purchase decisions
milk +=1
if store_has_eggs == True:
    eggs += 12
#Check what was purcahsed
print(milk)
print(eggs)

In [0]:
#loop allow the repeat of the checking
number = 43
divisor = 5
answer = 0

#while loop
while number > 0:
    number = number - divisor
    print (number)
    #do something

In [0]:
for i in range(1,5):
    print(i)
    print(i*3)
    i = 12
    print (i*3)
    print('--')

In [15]:
#python def function() reuse the same functions
def says_hello():
    print('Hello!')
says_hello()

def add(num1,num2):
  return(num1+num2)

add(1,2);

Hello!

In [40]:
#1,1,2,3,5,8,13 # appear in the nature - fibonacci sequence

#1,1 - 2
#1,2 - 3
#last till 6

pre = 1
next = 1
sum = 0

for i in range (1,6): 
  print (pre)
  print (next)
  sum = pre + next #2
  print (sum)
  pre = sum + pre
  next = pre + next + next

1
1
2
3
5
8
11
21
32
43
85
128
171
341
512

In [46]:
#use to manipulate the excel files
import pandas as pd

#now let us load in some data
url = "http://bit.ly/wkspdata"
titanic_data = pd.read_csv(url)
titanic_data.head()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S